%p#notice= notice
%h1 Your Pragmatic Catalog
- @products.each do |product|
  .entry
    = image_tag(product.image_url)
    %h3= product.title
    = sanitize(product.description)
    .price_line
      %span.price= sprintf "Php%0.02f", product.price
